@mixin primary-btn {

  .primary-btn {
    box-sizing: border-box;
    height: 26px;
    width: 80px;
    border: 2px solid #3F9CD1;
    border-radius: 30px;
    background-color: rgba(79, 196, 249, 0.2);
    color: #96DBFB;
    font-size: 14px;
  }


}

@mixin circle-btn {
  .circle-btn {
    background-color: rgba(79, 196, 249, 0.2);
    border: 2px solid #3F9CD1;
    color: #96DBFB;
  }
}

@mixin disable-btn {
  .disable-btn {
    box-sizing: border-box;
    height: 26px;
    width: 80px;
    border: 2px solid #B0B0B9;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #B0B0B9;
    font-size: 14px;
  }
}

@mixin ant-input {

  .ant-input,
  .ant-input-number,
  .ant-select-selection {
    background: transparent;
    border: 1px solid #FAFAFA;
  }
}