.layout-wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;

  .left {
    flex: 0 0 300px;
    background: linear-gradient(180deg, #101010 0%, rgba(16, 16, 16, 0) 100%);
    color: #fff;

    .logo-wrapper {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 20px;
      font-weight: bold;


      img {
        width: 140px;
      }

      span {
        margin-top: 6px;
      }
    }

    .menu {
      padding: 20px 0 0 10%;

      .title {
        height: 24px;
        color: #FAFAFA;
        font-family: Roboto;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;

      }
    }


  }


  .right {
    flex: 1;
    background: #28292E;
    padding: 40px;
  }

  .list-wrapper {
    a {
      color: #FAFAFA;
    }
  }
}