.install-wrapper {
  display: flex;
  height: 100vh;

  .step-wrapper {
    display: flex;
    flex-direction: column;
    flex: 0 0 420px;
    background: linear-gradient(180deg, #101010 0%, rgba(16, 16, 16, 0) 100%);
    color: #fafafa;

    .logo-wrapper {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 20px;
      font-weight: bold;


      img {
        width: 140px;
      }

      span {
        margin-top: 6px;
      }
    }

    .steps {
      margin-top: 60px;
      padding-right: 30px;
      text-align: right;

      li {
        height: 45px;
        line-height: 45px;
        color: #FFFFFF;
        font-family: Roboto;
        font-size: 18px;
        text-align: right;
      }
    }
  }
}