@import "~assets/scss/mixins.scss";

.hardware-wrapper {
  color: #fff;
  @include primary-btn;
  @include disable-btn;
  @include ant-input;


  h2 {
    color: #FAFAFA;
    font-size: 26px;
    font-weight: bold;
    line-height: 26px;
    margin: 0 10px 0 0;
  }

  .primary-btn {
    margin-right: 10px;
  }



  .title {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }

  .desc {
    font-size: 14px;
    color: #B0B0B9;
  }

  ol {
    .txt {
      margin-left: 10px;
    }
  }
}