@import "~assets/scss/mixins.scss";

.advanced-wrapper {
  color: #fff;
  @include primary-btn;
  @include disable-btn;
  @include ant-input;

  .header {
    display: flex;
    align-items: center;
  }

  h2 {
    color: #FAFAFA;
    font-size: 26px;
    font-weight: bold;
    line-height: 26px;
    margin: 0 10px 0 0;
  }

  .primary-btn {
    margin-right: 10px;
  }

  .ant-form-item-label>label {
    color: #fff;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }

  .desc {
    font-size: 14px;
    color: #B0B0B9;
  }

  .ant-switch {
    background: #60606F;
  }

  .ant-switch-checked {
    background: #4FC4F9;
  }

  .ant-form-item {
    margin-bottom: 10px;
  }

  .ant-input-number {
    width: 100%;
  }
}